<p>
  <form method="post" action="/search">
      <input name="kwds" placeholder="Search!">
      <input name="sdate" placeholder="Start Date M/D/YY">
      <input name="edate" placeholder="End Date M/D/YY">
      <input type="submit" value="Search!">
  </form>
</p>
